
{% extends 'hw/base.html' %}
{%block content %}
        <h1>About this page</h1>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, autem? Neque expedita quam veniam atque voluptates quaerat culpa dicta facilis animi maiores corrupti, consectetur esse ducimus, magnam, consequatur consequuntur recusandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt, repudiandae, asperiores, eius explicabo numquam ratione laudantium ad molestias exercitationem minus accusamus quos vel? Aliquam itaque excepturi qui nisi fugit!</p>

{%endblock %}
