

<!--project/base.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/16/2025-->
<!--Description: html form to display the base page that gets interited form other html-->
{%load static%}


<html>
    <head>
        

        <!--Link my css-->
        <link rel="stylesheet" href="{% static 'project/styles.css' %}">


    </head>
    
      
    <body>
          <!--This is a nav bar so I can move between pages and handles login logout and signup-->
          <nav class="menu">
            <ol>
              <li class="menu-item"> <a href="#">AislePilot</a></li>
              <li class="menu-item">
                <a href="#">User</a>
                <ul class="sub-menu">
                  <!--checks if the user is logined if it is it will display the name and signout button-->
                  {% if request.user.is_authenticated %}
                    <li><a href="#">{{ request.user.username }}</a></li>
                    <li>
                      <form action="{% url 'Logout' %}" method="POST" class="logout-wrapper">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                      </form>
                    </li>
                  {% else %}
                  <!--if used is not signed in it will display the login and signup button-->
                    <li><a href="{% url 'Login' %}">Log in</a></li>
                    <li><a href="{% url 'create_customer' %}">Sign up</a></li>
                  {% endif %}
                </ul>
              </li>
              <!--LInks to the shop and cart and pastorder pages-->
              <li class="menu-item"><a href="{% url 'shop' %}">🛒 Shop</a></li>
              <li class="menu-item"><a href="{% url 'Cart' %}">🛒 Cart</a></li>
             
              <li class="menu-item"><a href="{% url 'PastOrders' %}">📦 Past Orders</a></li>
            </ol>
          </nav>

        
        
        {% block content %}
        {% endblock %}

    </body>

</html> 