<!--project/cart.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/16/2025-->
<!--Description: html form to display the Cart objects-->

{% extends 'project/base.html' %}

{% block content %}
 <!--checks if there was a cart passed on and displays the current cart-->
{% if cart %}
<h2>Current 🛒: {{ cart.name }}</h2>
<table>
    <tr>
        <!--checks if there are other carts the user created that arent active and arent removed(aka: pastoders)-->
        {% if inactive_carts %}
            <!--iteraties through all inactive carts-->
            {% for inactive_cart in inactive_carts %}
            <td>
                <!--A form to click the inactive cart that calls switch_to_cart with the inactive cart id to switch that cart to the active one which displays it-->
                <form action="{% url 'switch_to_cart' inactive_cart.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">🛒 {{ inactive_cart.name }}</button>
                </form>
            </td>
            {% endfor %}
        {% endif %}
        
    </tr>
   
</table>
{% endif %}

<table>
    <tr>
        <td>
            <!--A button that calls the CreateCart Url creatieng a new cart-->
            <a href="{% url 'CreateCart' %}"><P>🛒 Create Cart</P></a>
        </td>
        <!--CHecks if there is a cart cause if there isnt you should be able to rename it-->
        {% if cart %}
        <td>
            
            <a href="{% url 'RenameCart' cart.id %}"><P>🛒 Rename Cart</P></a>
        </td>
        {% endif %}
    </tr>
</table>

<!--Checks if there is a cart cause you shouldnt be able to remove items from a cart that doesnt exist or display it or do any cart operations -->
{% if cart %}
<table>
    <!--Checks if there are items -->
    {% if cart_items %}
    
    <!--iteratites through all items-->
    {% for item in cart_items %}
    <tr>
        <!--display items name and quanitity-->
      <td><p>{{ item.item.name }} — Quantity: {{ item.quantity }}</p></td>
      <!--button to remove the item from the cart-->
      <td><form action="{% url 'remove_from_cart' item.item.id cart.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Remove</button>
    </form></td>
    </tr>
    {% endfor %}

{% else %}
<tr>
<td>
    <!--if no items your cart is empty-->
    <p>Your cart is empty.</p>
</td>
</tr>
{% endif %}

</table>




<div class = "CartOperations">
    <table>
    <tr>
        <td>
            <!--a button that calls OrderDeatial with teh cart id to make it into a pastoder-->
            <form action="{% url 'OrderDetail' cart.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Order Detail</button>
        </form>
        </td>
        <td>
            <!--A button to delete the cart-->
            <a href="{% url 'DeleteCart' cart.id %}"><P>🛒Delete Cart</P></a>
        </td>
    </tr>
</table>
</div>
{% endif %}
{% endblock %}