<!--project/create_customer_form.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/16/2025-->
<!--Description: html form to display a form for deleting a cart-->
{% extends 'project/base.html' %}

{% block content %}


<table>
    <tr>
        <td>
            <h2>Delete Cart?</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                {{cart.name}}
            </p>
        </td>
       
    </tr>
    <tr>
        <td>
            <!-- form that sends a POST request to delete the cart -->
            <form method = 'POST'>
                {% csrf_token %}
                <input type="submit" name="yes" value="yes">
            </form>
        </td>
        <td>
            <!-- form for the cancel button that sends a GET request-->
            <form action= "{% url 'Cart' %}" method = 'GET'>
                {% csrf_token %}
                <input type="submit" name="no" value="no">
            </form>
        </td>
    </tr>

</table>



{% endblock %}