<!--project/create_customer_form.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/16/2025-->
<!--Description: html form to display a single instance of an item-->
{% extends 'project/base.html' %}

{% block content %}



<table>

    <tr>
        <td>
            <p>{{item.name}}</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="{{ item.image }}" alt="{{ item.name }}" width="200">
        </td>
        <td>
            <p>Price: {{item.price}}</p>
        </td>
    </tr>

    <tr>
        <td>
            <p>Store: {{item.store.name}}</p>
        </td>
        <td>
            <p>Quantity: {{item.stock}}</p>
        </td>
    </tr>

    <tr>
        <!--A button to add the item to cart-->
        {% if user.is_authenticated %}
        <td><form action="{% url 'AddToCart' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Add to Cart</button>
        </form>
        {% endif %}

        </td>
    </tr>




</table>









{% endblock %}