<!--project/login.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/25/2025-->
<!--Description: html form to display login page-->

{% extends 'project/base.html' %}

{% block content %}


<h1>Login to AislePliot</h1>

<!--form to take in user and password and redirects to shop aopn succesfull submission-->

<form method="post"  action="{% url 'Login' %}">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">
    <input type="hidden" name="next" value = "{% url 'shop' %}">
</form>


{% endblock %}