<!--mini_fb/show_profile.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 3/25/2025-->
<!--Description: html form to display login page-->

{% extends 'project/base.html' %}

{% block content %}


<h1>Login to our Mini FaceBook</h1>

<!--form to take in user and password and redirects to show_all_profiles aopn succesfull submission-->

<form method="post"  action="{% url 'Login' %}">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">
    <input type="hidden" name="next" value = "{% url 'shop' %}">
</form>







{% endblock %}