<!--project/past_order.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/25/2025-->
<!--Description: html form to display a list of past orders-->

{% extends 'project/base.html' %}

{% block content %}



<table>

    <!--check if there are any pastorders-->

    {% if past_order %}
    <tr>
        <th>
            <p>Ordered on: </p>
        </th>
        <th>
            <p>
                Order Name:
            </p>
        </th>
        <th>
            <p>Total price: </p>
        </th>
        <th>
            <p>
                Items orderd: 
            </p>
        </th>

    </tr>
    <!--iteratie through all orders to display the timestampe name and total price as well as the items orderds-->

    {% for order in past_order %}
        <tr>
            <td>
                <p>{{order.timestamp}}</p>
            </td>
            <td>
                <p>
                    {{order.cart.name}}
                </p>
            </td>
            <td>
                <p>{{order.total_price|floatformat:2}}</p>
            </td>
            <td>
                <p>{{order.items}} ...</p>
            </td>
            <td>
                <p>
                    <!--A link to view a single instance of a past order-->
                    <a href="{% url 'PastOrder' order.pk %}">View</a>
                </p>
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <!--If pastorder failes then there are no past orders-->
        <tr>
            <p>No Past Orders</p>
        </tr>
    {% endif %}

</table>

{% endblock %}