<!--project/rename_cart_form.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/25/2025-->
<!--Description: html form to display a form to rename a carts-->

{% extends 'project/base.html' %}

{% block content %}

<h2>Rename Cart</h2>
<!--A form that displayed hte passed context form that calls RenameCart with the cart it to rename the cart-->

<form action= "{% url 'RenameCart' cart.id %}" method = 'POST'>
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>    
     <input type="submit" name="submit" value="submit">
</form>

{% endblock %}