







<!--voter_analytics/base.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 4/3/2025-->
<!--Description: html form to display the base page that gets interited form other html-->
{%load static%}


<html>
    <head>

        <h1>ShopRoute</h1>
        <link rel="stylesheet" href="{% static 'project/styles.css' %}">

    </head>
    
      
    <body>
       
            <a href="{% url 'shop' %}">Start Optimizing</a>
            
    </body>


    <footer>
        <p>Created by: Justin Liao</p>
    </footer>

</html> 