<!--mini_fb/base.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 3/4/2025-->
<!--Description: html form to display the base page that gets interited form other html-->
{%load static%}


<html>
    <head>
        <!--title for all pages-->

        <title>Mini FB profiles</title>
        <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">


    </head>
    <body>
        <head>
            <h1>MiniFaceBook</h1>
            <!--link to the url that links to the view that links to the model and the correct html file that displays all the profiles and one to the create form-->
            <table>
                <tr>
                    <td>
                        <li><a href="{% url 'show_all_profiles' %}"><h2>All Profiles</h2></a></li>

                    </td>
                   
                    <td>
                        <!--only shows create profile if the user is not logged in as if they are logged in they should have a profile-->
                        {% if request.user.is_authenticated %} 
                        {% else %}
                        <li><a href="{% url 'create_profile' %}"><h2>Create Profile</h2></a></li>

                        {% endif %}
                   
                    </td>
                    
                    
                </tr>
                <tr>
                    <!--depending on if the user is logged in or out they will show the oppsite-->
                    {% if request.user.is_authenticated %} 
                    <form action="{% url 'logout' %}" method = "POST" >    
                        {% csrf_token %}            
                        
                        <input type="submit" name="Logout" value="Logout">
                    </form> 
                    {% else %}
                    <li><a href="{% url 'login' %}"><h2>Log in</h2></a></li>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <h2>
                        <!--information to show who is logged in-->
                        {% if request.user.is_authenticated %}
                        Logged in as:{{request.user}}
                        {% else %}
                        Not logged in.
                        {% endif %}
                    </h2>
                    </td>
                </tr>
            </table>
        </head>

        {% block content %}
        {% endblock %}

    </body>



    <footer>
        <p>Created by: Justin Liao</p>
    </footer>
</html> 