

<!--mini_fb/friend_suggestion.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 3/4/2025-->
<!--Description: html form to display all the people this profile may know -->
{%load static%}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">
        <h1>People {{profile.firstname}} {{profile.lastname}} may know</h1>
    </html>
       
        <div>
            <!--Table to display all the profiles that this profile may know and with each profile they are linked to there profile page and have a button that allows this profile to add them as a friend-->
            <table>
                
            
                <tr>
                    <td colspan="3">
                    <div style="display: flex; flex-wrap: wrap;">
                        {% for friend in profile.get_friend_suggestions %}
                        <div style="flex: 0 0 20%; text-align: center; box-sizing: border-box; padding: 5px;">
                            <a href="{% url 'add_friend' profile.pk friend.pk %}">
                            <h2>Add Friend</h2>
                            </a>
                            <a href="{% url 'show_profile' friend.pk %}">
                            <img src="{{ friend.image_url }}" alt="{{ friend.image_url }}" width="200" style="max-height: 250px;">
                            </a>
                            {% if friend.firstname and friend.lastname %}
                            <a href="{% url 'show_profile' friend.pk %}">
                                <h2>{{ friend.firstname }} {{ friend.lastname }}</h2>
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'show_profile' profile.pk %}">
                            <h2>Return to Profile</h2>
                        </a>
                    </td>
                </tr>


            </table>
        </div>







</html> 

