
<!--mini_fb/show_profile.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 3/4/2025-->
<!--Description: html form to display one spesific profile-->

{% extends 'mini_fb/base.html' %}

{% block content %}

{% if request.user == profile.user %}

<li><a href="{% url 'update_profile'  %}"><h2>Update Profile</h2></a></li>
<!-- Button to call the url with this profile primary key to display the news_feed.html-->
<li><a href="{% url 'news_feed'  %}"><h2>News Feed</h2></a></li>
{% endif %}
<div>
   
    <div>
        <!--creating table and formatting the data past form the views from the model into rows and cloumns-->
        <table>
            <tr>
                <td>
                    
                    <img src="
                    {{profile.image_url}}" alt="" width="400" style="max-height: 600px;">
                </td>
                <td>
                    <h2>
                        {{profile.firstname}} , {{profile.lastname}}
                    </h2>
                </td>
                <td>
                    <h3>
                        {{profile.city}}
                   </h3>
                </td>

            </tr>
            <tr >
                <td clospan="2">
                    <hr>
                </td>
    
            </tr>
            <tr>
                <td><p style="width: 800px;">{{profile.bios}}</p></td>
            </tr>
            <tr >
                <td clospan="2">
                    <hr>
                </td>
    
            </tr>
                {% if request.user == profile.user %}
            <tr>
                <td>
                     <li><a href="{% url 'create_status'  %}"><h2>Create Status</h2></a></li>
                </td>
                
            </tr>
            {% endif %}
          
            {% for status in profile.get_status_messages%}
            <tr>
                <td>
                    <p>{{status.message}}</p>
                </td>
                
                <td>
                    <p>{{status.timestamp}}</p>
                </td>

                
            </tr>
             <!-- loop to loop through all the images that are attached to this status message and display the img  -->

            <tr>
                <td>
                {% for img in status.get_images %}

                  
                <img src='{{img.imageField.url}}' alt='{{img.imageField.url}}'  width="200" style="max-height: 200px;">
                    

                {% endfor %}
            </td>
            </tr>
            <tr>
                <!-- two links one that redirctes the user to the delete_status_form.html thorgh the url and one that redirects to the update>status_form.html through the url  -->
                {% if request.user == profile.user %}

                <td>
                    <li><a href="{% url 'delete_status' status.pk %}"><p>Delete</p></a></li>
                </td>
                <td>
                    <li><a href="{% url 'update_status' status.pk %}"><p>Update</p></a></li>
                </td>
                {% endif %}
            </tr>
            {% endfor%}

            <!-- created a row in the table where it will display all the firends of this profile added style so it columns dont match with the ones above and that if there is two 
             many it will wrap below this row and continue also all images and names are links to corresponing profiles -->
            <tr>
                <td colspan="3">
                  <div style="display: flex; flex-wrap: wrap;">
                    {% for friend in profile.get_friends %}
                      <div style="flex: 0 0 20%; text-align: center; box-sizing: border-box; padding: 5px;">
                        <a href="{% url 'show_profile' friend.pk %}">
                          <img src="{{ friend.image_url }}" alt="{{ friend.image_url }}" width="200" style="max-height: 250px;">
                        </a>
                        {% if friend.firstname and friend.lastname %}
                          <a href="{% url 'show_profile' friend.pk %}">
                            <h2>{{ friend.firstname }} {{ friend.lastname }}</h2>
                          </a>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </td>
              </tr>
             <!-- Button to call the url with this profile primary key to display the friend_suggestions.html-->
              <tr>
                {% if request.user == profile.user %}

                <a href="{% url 'friend_suggestions'  %}">
                    <h2>
                       People you may know
                    </h2>
                </a>
                {% endif %}
              </tr>
              


            

            









        </table>
       
       
        <p>
            {{profile.email}}
        </p>
        
    </div>
    

</div>

{% endblock %}
