<!--mini_fb/update_status_form.html-->
<!--Author: Justin Liao (liaoju@bu.edu), 3/4/2025-->
<!--Description: html form to display the update status form page-->


{% extends 'mini_fb/base.html' %}

{% block content %}


<h2>Update Status</h2>
 



<table>
    <tr>
        <td>
            <form method = 'POST'>
                {% csrf_token %}
               
                
                <!-- form that uses the attributes of model StatusMessage that are filled out for you to update wiht a confermation button yes that sends a POST request-->
                <table>
                    {{form.as_table}}
                </table>
                
                 <input type="submit" name="yes" value="yes">
            </form>
        </td>
        <td>
            <td>
                <!-- form for the cancel button that sends a GET request to the correct url that corresponds to the profile that the status message is assoicated to-->
                <form action= "{% url 'show_profile' status.profile.pk %}" method = 'GET'>
                    {% csrf_token %}
                    <input type="submit" name="no" value="no">
                </form>
            </td>
        </td>
    </tr>
</table>




{% endblock %}