{% extends 'quotes/base.html' %}
{%block content %}

{%load static%}

        

<div class="container">
    <h2>All Quotes by Michael Phelps</h2>
    

    <table>
        {% for quote in quotes %}
            <tr><td><p>{{ quote }}</p></td></tr>
        {% endfor %}
    </table>


    <h2>All Images of Michael Phelps</h2>

    <table>
        {% for image in images %}
            <tr><td><img src="{% static 'images/' %}{{ image }}" alt="Image 1"></td></tr>
        {% endfor %}
    </table>
   
</div>

 {%endblock%}
      